
/*Background color for navigation bar*/
.topnav {
    background-color: #669BBC;
    overflow: hidden;
    border-radius: 25px;
}

.home-pic {
  display: block;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  display: block;
  margin: 0 auto;
}

ul {
  text-align: center;
  list-style-position: inside;
  font-size: large;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  justify-content: center;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contact {
  color: white;
  text-align: center;
  font-size: 35px;
  background-color: #669BBC;
  border-radius: 25px;
}

/*Style of the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

/*Color of the links inside the navigation bar on hover */
.topnav a:hover {
    background-color: #003049;
    color: white;
}

/*Color the active/current link selected */
.topnav a.active {
    background-color: #003049;
    color: white;
}

/*h1 of intro*/
#intro h1:nth-of-type(1) {
    text-align: center;
}

/*p of intro */
#intro p:nth-of-type(1) {
    text-align: center;
}

#foo img[src="grad-pic.jpeg"] {
  /* css */
  align-items: center;
}

body {
    background-color: #FDF0D5;
}

h1 {
  text-align: center;
}

h2 {
    color: white;
    background-color: #669BBC;
}

div.gallery {
  border: 1px solid #ccc;
}
  
div.gallery img {
  width: 100%;
  height: auto;
}
  
div.desc {
  padding: 15px;
  text-align: center;
  background-color: white;
}
  
* {
  box-sizing: border-box;
}
  
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
  
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
  
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  padding-left: 15%;
  padding-right: 15%;
}

#case-study-overview h3, p, ul {
  text-align: left;
}

#university h3{
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#contact p{
  text-align: center;
}

